<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_num_form">
    Divide this:
  </label>
  <input id="first_num_form" name="first_number" text="text">

  <label for="s_num_form">
    by this:
  </label>
  <input id="s_num_form" name="second_number" text="text">

  <button>
    Divide!
  </button>
</form>
